html {
    font-family: arial;
    position: relative;
    padding: 10px;
    background: url(../images/Petrusich-Spotify-No-Thanks.jpg) no-repeat center;
    background-size: cover;
               
}

body {
    position: relative;
    top: 100px;
    max-width: 650px;
    margin: 0px auto;
    box-shadow: 2px 3px 3px rgba(0,0,0, 0.5);

}

.control {
    display: inline-block;
    min-width: 405px;
    min-height: 200px;
    background-color: rgba(84,126,90,0.9);
}

.image {
    float: right;
    min-width: 245px;
    min-height: 200px;
    background: url(../images/Petrusich-Spotify-No-Thanks.jpg) no-repeat center;
    background-size: cover;
}

.icons {
    font-size: 3.2em;
    line-height: 2;
    color: #fff;
    margin: 2% 0 0 10%;
}

.icons i {
    margin: 5%;
}

.icons i:hover {
    color: #9dbba1;
    text-shadow: 2px 2px 3px rgba(0,0,0, 0.5);
}

.titles {
    line-height: .5;
    margin: 0 12%;
    color: #fff;
}

.titles h2 {
    font-weight: 600;
}

.titles p {
    line-height: .5;
    margin-top: 2%;
}

/* smaller screen size */
@media only screen and (max-width: 669px) {
   
    html {
         background-size:auto;
    }
    
    body {
        position: relative;
        top: 25px;
        width: 100%;
        height:auto;
    }
    
    .control {
        display: block;
        min-width: 100%;
    }
    
    .icons i {
        margin: 3%;
    }
    
    .image {
        float: none;
        display: block;
        width: 100%;
    } 
    
    
    
    }


