/*
Google Fonts
font-family: 'Rubik', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Inconsolata', monospace;
font-family: 'Cabin', sans-serif;
font-family: 'VT323', monospace;
font-family: 'Nunito', sans-serif;
font-family: 'Nunito Sans', sans-serif;
*/

/* GENERAL BODY STYLES */

body {
    padding-top: 5rem;
}

.cursor-def {
    cursor: default;
}

/* ------------------------------- */

/* ------------------------------- */

/* TEXT STYLES */

.grey-txt {
    color: #666;
}

.green-txt {
    color: #008800;
}

.emp-txt {
    margin-left: -.25em;
}

.sm-txt {
    font-size: .9em;
}

/* ------------------------------- */

/* ------------------------------- */

/* LINK STYLES */

a:link {
    font-weight: 600;
    text-decoration: none;
    color: #000000;
}

a:visited {
    color: #000;
}

a:hover {
    color: #000;
}

/* BUTTON LINK STYLES */

.btn-link {
    color: #fff;
}

.btn-link:visited {
    color: #fff;
}

.btn-link:hover {
    color: #fff;
    text-decoration: none;
}

/* ------------------------------- */

/* ------------------------------- */

/* BOX SHADOW AROUND CARDS */

.cat-links:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

/* CARDS */

.product-card {
    border: 1px solid #cfd8dc;
    padding: .6em;
    margin-bottom: .8em;
    border-radius: 4px;
}

.prod-title {
    font-size: .8em;
}

.prod-img {
    max-height: 100px;
}

.end-cap {
    height: 212px;
    background-color: #eff4f7;
}

/* ------------------------------- */

/*--------------------------------*/

/* CUSTOM BUTTONS */

.btn-default {
    background-color: #fff;
    border-color: #cfd8dc;
    box-shadow: 0 1px 5px rgba(33, 33, 33, .2);
}

.btn-default:hover {
    background-color: #cfd8dc;
}

/* ------------------------------- */

/* ------------------------------- */