/*
Google Fonts
font-family: 'Rubik', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Inconsolata', monospace;
font-family: 'Cabin', sans-serif;
font-family: 'VT323', monospace;
font-family: 'Nunito', sans-serif;
font-family: 'Nunito Sans', sans-serif;
*/

body {
    padding-top: 5rem;
}

.cat-links:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}